# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.OpenIdConectBlazor.iml
# Datasource local storage ignored files
/../../../../../../:\IngSoftware\OpenIdConectBlazor\.idea\.idea.OpenIdConectBlazor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
