@page "/counter"
@inject IRepositories repository;
@inject NavigationManager navigation;
@inject IUserManager UserManager;

<EditForm model="user">
    <div class="d-flex flex-column">
        <div class="row">Register</div>
        <div class="row">
            <input type="email" @bind="user.Email" class="form-control" />
        </div>
        <div class="row">
            <input type="password" @bind="user.Password" class="form-control" />
        </div>
        <div class="row">
            <button class="btn btn-primary" @onclick="Create">Register</button>
        </div>
    </div>
</EditForm>
@code{
    User user = new User();
    public async Task Create()
    {
        await UserManager.AddUser(user, ()=>  this.navigation.NavigateTo("/"));
    }

}
