@using Microsoft.AspNetCore.Components.Authorization;
@inherits LayoutComponentBase;
@* @inject IRepositories repository; *@
@inject NavigationManager navigation;
@inject HttpClient httpClient;
@inject IUserManager UserManager;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>


    <div class="main">
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    <h4><b>Hellos, @context.User.Identity.Name</b></h4>
                    <button class="btn btn-primary" @onclick="LogOut">Log Out</button>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="top-row px-4">
                    <button class="btn btn-primary">LogIn User</button>
                </div>
            </NotAuthorized>
        </AuthorizeView>


        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
@code{

    private async Task LogOut()
    {

       await UserManager.LogOutUser(() => navigation.NavigateTo("/", true));
    }
}